<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ block "head" . }}
    {{ partial "head.html" . }}
    {{ end }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>

<body>
    <a class="skip-main" href="#main"></a>
    <div class="container">
        <header>
            {{ block "header" . }}
            {{ partial "header.html" . }}
            {{ end }}
        </header>
        <main id="main" tabindex="-1">
            {{ block "main" . }}

            {{ end }}
        </main>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
    </div>
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>

</html>